@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Neucha');

*,
:before,
:after {
	box-sizing: border-box;
}
body {
	background: white;
	margin: 0;
}
.container {
	position: relative;
	margin-right: 250px;
	margin-left: 250px;
}
.aboutme-navegacion {
	width: 100%;
	z-index: 10;
	background: #1d252c;
	opacity: .9;
	height: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	will-change: opacity;
	transition: 1s;
}
.aboutme-navegacion:hover {
	opacity: 1;
}
ol,.inicio-menu {
	padding: 5px;
	list-style: none;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-family: 'Major Mono Display', monospace;
	transition: 1s;
	will-change: opacity, margin-bottom;
}
ol:hover {
	opacity: 0.8;
	color: #ee5e45;
	text-decoration: underline;
}

.first-section {
	font-family: 'Major Mono Display', monospace;
	font-size: 20px;
	color: white;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	background: #ee5e45;
	justify-content: center;
}

.aboutme {
	font-size: 2em;
	font-family: 'Major Mono Display', monospace;
	text-decoration: underline;
}
.my-image {
	width: 350px;
	margin: 20px;
	height: 350px;
	border-radius: 50%;
	transition: 1s;
	will-change: border-radius;
}
.my-image:hover {
	border-radius: 5px;
}

.photho-aboutme {
	width: 450px;
	height: 450px;
	position: absolute;
	border-radius: 5px;
	right: 0;
	top: 50px;
}

.conteiner-description {
	width: 600px;
	font-family: 'Neucha', cursive;
	font-size: 20px;
}
.development {
	width: 450px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
	margin: 0;
}
.development-in {
	width: 30px;
	height: 5px;
	background: #005d7a;
}

.javascript {
	width: 450px;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.javascript-in {
	width: 35px;
	height: 5px;
	background: #005d7a;
}
.react {
	width: 450px;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.react-in {
	width: 60px;
	height: 5px;
	background: #005d7a;
}
.py {
	width: 450px;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.py-in {
	width: 40px;
	height: 5px;
	background: #005d7a;
}
.networking {
	width: 450px;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.networking-in {
	width: 20px;
	height: 5px;
	background: #005d7a;
}

.container-porcentaje {
	position: absolute;
	font-family: 'Neucha', cursive;
	display: flex;
	width: 500px;
	flex-direction: column;
}
.porcentaje{
	position: absolute;
	right: 0px;
	top: 25px;
	font-weight: bold;
}
.porcentaje-js {
	position: absolute;
	right: 0px;
	top: 80px;
	font-weight: bold;
}
.porcentaje-react {
	position: absolute;
	right: 0px;
	top: 135px;
	font-weight: bold;
}
.porcentaje-py {
	position: absolute;
	right: 0px;
	top: 190px;
	font-weight: bold;
}
.porcentaje-net {
	position: absolute;
	right: 0px;
	top: 245px;
	font-weight: bold;
}
.second-section {
	height: 500px;
	padding: 10px;
}

.treeth-section {
	margin-top: 50px;
}

.title-courses,.title-experiencia {
	margin: 0;
	text-align: center;
	text-decoration: underline;
	font-size: 2em;
	font-family: 'Major Mono Display', monospace;
}

.galeria-dinamica, .galeria-experiencia {
	margin: 50px auto;
	background-color: white;
	padding: 0px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-auto-rows: repeat(3, 28%);
	flex-shrink: 1;
	justify-content: space-between;
	width: 100%;
}
.galeria-dinamica li, .galeria-experiencia li {
	flex-grow: 1;
	height: 400px;
}
li {
	float: left;
	position: relative;
	border-radius: 5px;
	padding: 10px 10px 25px 10px;
	background: #eee;
	border: 1px solid #fff;
	box-shadow: 1px 2px 10px #333;
	margin-left: 2%;
	max-width: 350px;
	min-width: 180px;
	transition: 1s;
}
li:nth-child(even){
	z-index: 0;
	transform: rotate(-10deg);
}
li:nth-child(odd){
	z-index: 0;
	transform: rotate(10deg);
}
li:hover {
	z-index: 5;
	transform: rotate(0deg) scale(1.2);
}
.galeria-dinamica li:nth-child(1) {
	background: url("../images/diplomas/animacionesWeb.png") center/cover;
}
.galeria-dinamica  li:nth-child(2) {
	background: url("../images/diplomas/CSS-grid-layoud.png") center/cover;
}

.galeria-dinamica li:nth-child(3) {
	background: url("../images/diplomas/git-github.png") center/cover;
}
.galeria-dinamica li:nth-child(4) {
	background: url("../images/diplomas/fundamentos-javascript.png") center/cover;
}
.galeria-dinamica li:nth-child(5) {
	background: url("../images/diplomas/responsive.png") center/cover;
}
.galeria-dinamica li:nth-child(6) {
	background: url("../images/diplomas/courses-POO.png") center/cover;
}
.footer-aboutme {
	width: 100%;
	height: 50px;
	background-color:  #1d252c;
}
.galeria-experiencia li:nth-child(1) {
	background: url("../images/proyectos/proyecto-simon.png") center/cover;
	transform: rotate(0) !important;
}
.footer-aboutme {
	display: flex;
	justify-content:flex-end;
	align-items: center;
}

.style-icon {
	margin: 3px;
	font-size: 2em;
}
a {
	text-decoration: none;
}
.container-item {
	position: absolute;
	display: flex;
	align-items:  flex-start;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	color: white;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 2em;
	background: rgba(0,0,0,.5);

}
.galeria-experiencia li a i {
	transition: 1s ease-in-out;
}
.galeria-experiencia li a:hover i {
	transform: scale(1.5);
}
