@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Neucha');

*,
:before,
:after {
	box-sizing: border-box;
}
.burger-button {
	visibility: hidden;
}
body {
	background: white;
	margin: 0;
}
.wave {
	position: absolute;
	background: url("../images/landScape/waves.png") center top no-repeat;
	width: 2202px;
	height:407px;
	right: -195px;
	z-index: 0;
	animation: 5s wave infinite alternate ease-in-out
}
.wave {
	position: absolute;
	bottom: -70px;
	height:407px;
}
.waves.b{
	animation-delay: 7s;
	background-position: 0 -527px;
}
.wave.c {
	animation-delay: 2s;
	background-position: 0 -854px;
}
.wave.a {
	background-position: 0 0;
}
@keyframes wave{
	from {
		transform: translate(0,0);
	}
	50% {
		transform: translate(-80px, 30px);
	}
	to {
		transform: translate(160px, -60px);
	}
}
.container {
	position: relative;
	margin-right: 250px;
	margin-left: 250px;
}
.container-menu {
		margin-right: 250px;
	}
.aboutme-navegacion {
	width: 100%;
	z-index: 10;
	background: #1d252c;
	z-index: 999;
	height: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

ol,.inicio-menu {
	padding: 5px;
	list-style: none;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-family: 'Major Mono Display', monospace;
	transition: 1s;
	will-change: opacity, margin-bottom;
}
ol:hover {
	opacity: 0.8;
	color: #ee5e45;
	text-decoration: underline;
}

.first-section {
	font-family: 'Major Mono Display', monospace;
	font-size: 20px;
	color: white;
	width: 100%;
	box-shadow: 1px 2px 10px #333;
	height: 100vh;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	background: #ee5e45;
	justify-content: center;
}
.container-waves {
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.second-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #888888;
	box-shadow: 1px 2px 10px #333;
	width: 100%;
	margin-top: 20px;
	height: 600px;
	border-radius: 10px;

}
.porcentaje {
	font-family: 'Major Mono Display', monospace;
	font-weight: bold;
}
.info-section {
	z-index: 10;
	position: relative;
}
.photo-aboutme {
	width: 450px;
	position: relative;
	z-index: 5;
	height: 450px;
	box-shadow: 1px 2px 10px #333;
	border-radius: 10px;
}
.aboutme {
	font-size: 2em;
	font-family: 'Major Mono Display', monospace;
	text-decoration: underline;
}
.my-image {
	width: 350px;
	margin: 20px;
	height: 350px;
	box-shadow: 1px 2px 10px #333;
	border-radius: 50%;
	z-index: 3;
	transition: 1s;
	will-change: border-radius;
}
.my-image:hover {
	border-radius: 5px;
}
.conteiner-description {
	width: 400px;
	margin-right: 50px;
	font-family: 'Neucha', cursive;
	font-size: 20px;
}
.development {
	width: 90%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
	margin: 0;
}
.development-in {
	width: 30px;
	height: 5px;
	background: #005d7a;
}

.javascript {
	width:  90%;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.javascript-in {
	width: 35px;
	height: 5px;
	background: #005d7a;
}
.react {
	width:  90%;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.react-in {
	width: 60px;
	height: 5px;
	background: #005d7a;
}
.py {
	width:  90%;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.py-in {
	width: 40px;
	height: 5px;
	background: #005d7a;
}
.networking {
	width:  90%;
	display: flex;
	justify-content: flex-end;
	height: 5px;
	background: #ee5e45;
}
.networking-in {
	width: 20px;
	height: 5px;
	background: #005d7a;
}
.treeth-section {
	margin-top: 50px;
}

.title-courses,.title-experiencia {
	margin: 0;
	text-align: center;
	text-decoration: underline;
	font-size: 2em;
	font-family: 'Major Mono Display', monospace;
}

.galeria-dinamica, .galeria-experiencia {
	margin: 50px auto;
	background-color: white;
	padding: 0px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-auto-rows: repeat(3, 28%);
	flex-shrink: 1;
	justify-content: space-between;
	width: 100%;
}
.galeria-dinamica li, .galeria-experiencia li {
	flex-grow: 1;
	height: 400px;
}
li {
	float: left;
	position: relative;
	border-radius: 5px;
	padding: 10px 10px 25px 10px;
	background: #eee;
	border: 1px solid #fff;
	box-shadow: 1px 2px 10px #333;
	margin-left: 2%;
	max-width: 350px;
	min-width: 180px;
	transition: 1s;
}
li:nth-child(even){
	z-index: 0;
	transform: rotate(-10deg);
}
li:nth-child(odd){
	z-index: 0;
	transform: rotate(10deg);
}
li:hover {
	z-index: 5;
	transform: rotate(0deg) scale(1.2);
}
.galeria-dinamica li:nth-child(1) {
	background: url("../images/diplomas/animacionesWeb.png") center/cover;
}
.galeria-dinamica  li:nth-child(2) {
	background: url("../images/diplomas/CSS-grid-layoud.png") center/cover;
}

.galeria-dinamica li:nth-child(3) {
	background: url("../images/diplomas/git-github.png") center/cover;
}
.galeria-dinamica li:nth-child(4) {
	background: url("../images/diplomas/fundamentos-javascript.png") center/cover;
}
.galeria-dinamica li:nth-child(5) {
	background: url("../images/diplomas/responsive.png") center/cover;
}
.galeria-dinamica li:nth-child(6) {
	background: url("../images/diplomas/courses-POO.png") center/cover;
}
.footer-aboutme {
	width: 100%;
	height: 50px;
	background-color:  #1d252c;
}
.galeria-experiencia li:nth-child(1) {
	background: url("../images/proyectos/proyecto-simon.png") center/cover;
	transform: rotate(0) !important;
}


.style-icon {
	margin: 3px;
	font-size: 2em;
}
a {
	text-decoration: none;
}
.container-item {
	position: absolute;
	display: flex;
	align-items:  flex-start;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	color: white;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 2em;
	background: rgba(0,0,0,.5);

}
.galeria-experiencia li a i {
	transition: 1s ease-in-out;
}
.galeria-experiencia li a:hover i {
	transform: scale(1.5);
}
.footer-aboutme {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	color: white;

}

.title-footer {
	margin: 0;
	margin-left: 250px;
}

.hide {
	visibility: hidden;
}
