@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');


*,
:before,
:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	/* background-image: url("../images/street.jpg"); */
	background: #1d252c;
	background-size: cover;
	overflow: hidden;
}
.icon-menu {
	color: green;

}

.container {
	display: grid;
	grid-template-columns:  1fr  ;
	grid-template-rows: 180px 1fr 90px;
	max-height: 100vh;
	grid-template-areas: "header header header"
												"contenido contenido ."
												"footer footer footer";

}

.header {
	grid-area: header;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-family: 'Major Mono Display', monospace;
}

.header-titulo {
	font-size: 70px;
	font-weight: 600;
	margin: 0;
}
.header-subtitulo {
	color: #27cadd;
}
.hide {
	visibility: hidden;
}
.contenido {
	grid-area: contenido;
	display:grid;

	justify-content: center;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(3, 178px);
	align-items: center;
}
.contenido-img {
	width: 178px;
	height: 178px;
	padding: 0;
	opacity: 0.3;
	transition: 1s;
	will-change: opacity, transform;
}
.contenido-img:hover {
	opacity: 1;
	z-index: 10;
	border-radius: 5px;
	position: relative;
	transform: scale(1.4);
	transition: 1s ease-in-out;
}

.fix-image-right:hover {
	animation: 800ms moverImagenALaDerecha ease-in-out forwards ;
}
.fix-image-left:hover {
	animation: 800ms moverImagenALaIzquierda ease-in-out forwards ;
}
.footer {
	grid-area: footer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items:center;
}
.piePagina {
	font-family: 'Major Mono Display', monospace;
	color: #27cadd;
}

.style-icon {
	margin: 3px;
	font-size: 20px;
}
a {
	text-decoration: none;
}

li,.inicio-menu {
	list-style: none;
	text-decoration: none;
	color: white;
	position: flex;
	justify-content: center;
	align-items:  center;
	margin-bottom: 4em;
	font-size: 1.5em;
	will-change: opacity;
}
.inicio-menu:hover {
	opacity: 0.6;
	text-decoration: underline;
	transition: .5s;
}

/*Se crear el overley del menu */

.overlay-menu {
	background: rgba(0,0,0, .8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: 1s ease-in-out;
}
.overlay-menu.active {
	opacity: 1;
	visibility: visible;
}

@keyframes moverImagenALaDerecha {
	from {
		transform: translateX(0);
		position: relative;
		z-index: 10;
	}
	to {
		transform: translateX(45px);
		position: relative;
		z-index: 10;
	}
}
@keyframes moverImagenALaIzquierda {
	from {
		transform: translateX(0);
		position: relative;
		z-index: 10;
	}
	to {
		transform: translateX(-50px);
		position: relative;
		z-index: 10;
	}
}
