@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?jltphn');
  src:  url('icomoon.eot?jltphn#iefix') format('embedded-opentype'),
    url('icomoon.ttf?jltphn') format('truetype'),
    url('icomoon.woff?jltphn') format('woff'),
    url('icomoon.svg?jltphn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e901";
	color: #fff;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e903";
  color: #3b5998;
}
.icon-twitter:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-menu:before {
  content: "\e900";
	font-size: 25px;
}

.icon-menu {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 0;
	color: #27cadd;
	align-items: center;
	top: 35px;
	font-size: 60px;
	width: 50px;
	height: 50px;

}
